.legal-heading {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 1rem;
	color: #000000;
}

.legal-body {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 0.875rem
	color: #000000;
}

.img-search {
	line-height: 1.5;
	height: 23px;
	width: 23px;
}

.btn-search {
	color: #fff;
	background-color: #06C43B;
	border-color: #06C43B;
}

/*.location {
	border-left: none;
}

.search_input {
	border-left: none;
}

.category {
	border-right: none;
}*/

.navbar-border {
	border-bottom: inset;
}

.popular-search {
	display: inline-block;
	position: relative;
	height: 0.938em
	font-family: Futura Hv BT;
	line-height: normal;
	font-size: 0.750em;
	color: #000000;
}

.top {
	vertical-align: top;
}

.popular-search-link {
	display: inline-block;
	position: relative;
	line-height: normal;
	padding-left: 0.625em;
	padding-right: 0.625em;
	color: #000000;
}

.quick-link {
	font-family: Helvetica;
	line-height: normal;
	font-size: 1em;
	color: #06C43B;
}

.quick-link-item {
	font-family: Helvetica;
	line-height: normal;
	font-size: 1em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	color: #06C43B;
}

.quick-link-item-active {
	font-family: Helvetica;
	line-height: normal;
	font-size: 1em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	color: #06C43B;
	font-weight: bold;
}

.quick-link > a:hover {
	color: #06C43B;
}

.popular-search > a:hover {
	color: #000000;
}

.mbackground {
	background-image: url("../images/single-stream-nwra.png");
	position: relative;
}

.mlayer {
	background: rgba(6, 196, 59, 0.8);
	width: 100%;
	height: 100%;
}

.banner-link-first {
	font-family: Futura Hv BT;
	font-weight: bolder;
	line-height: normal;
	font-size: 1.500em;
	text-align: justify-all;
	color: #FFFFFF;
}

.daily-deals-text {
	padding-left: 1.250em;
	font-family: Helvetica;
	line-height: normal;
	font-size: 1.500em;
	font-weight: bolder;
	color: #000000;
}

.daily-deals-link {
	padding-right: 4.000em;
	font-family: Helvetica;
	line-height: normal;
	font-size: 1.125em;
	font-weight: bolder;
	color: #28B665;
}

a.daily-deals-link:hover {
	color: #28B665;
}