.legal-heading {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 1rem;
	color: #000000;
}

.legal-body {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 0.875rem
	color: #000000;
}

.img-search {
	line-height: 1.5;
	height: 23px;
	width: 23px;
}

.btn-search {
	color: #fff;
	background-color: #06C43B;
	border-color: #06C43B;
}

/*.location {
	border-left: none;
}

.search_input {
	border-left: none;
}

.category {
	border-right: none;
}*/

.navbar-border {
	border-bottom: inset;
}

.popular-search {
	display: inline-block;
	position: relative;
	height: 0.938em
	font-family: Futura Hv BT;
	line-height: normal;
	font-size: 0.750em;
	color: #000000;
}

.top {
	vertical-align: top;
}

.popular-search-link {
	display: inline-block;
	position: relative;
	line-height: normal;
	padding-left: 0.625em;
	padding-right: 0.625em;
	color: #000000;
}

.quick-link {
	font-family: Helvetica;
	line-height: normal;
	font-size: 1em;
	color: #06C43B;
}

.quick-link-item {
	font-family: Helvetica;
	line-height: normal;
	font-size: 1em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	color: #06C43B;
}

.quick-link-item-active {
	font-family: Helvetica;
	line-height: normal;
	font-size: 1em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	color: #06C43B;
	font-weight: bold;
}

.quick-link > a:hover {
	color: #06C43B;
}

.popular-search > a:hover {
	color: #000000;
}

.mbackground {
	background-image: url("../images/single-stream-nwra.png");
	position: relative;
}

.mlayer {
	background: rgba(6, 196, 59, 0.8);
	width: 100%;
	height: 100%;
}

.banner-link-first {
	font-family: Futura Hv BT;
	font-weight: bolder;
	line-height: normal;
	font-size: 1.500em;
	text-align: justify-all;
	color: #FFFFFF;
}

.daily-deals-text {
	padding-left: 1.250em;
	font-family: Helvetica;
	line-height: normal;
	font-size: 1.500em;
	font-weight: bolder;
	color: #000000;
}

.daily-deals-link {
	padding-right: 4.000em;
	font-family: Helvetica;
	line-height: normal;
	font-size: 1.125em;
	font-weight: bolder;
	color: #28B665;
}

a.daily-deals-link:hover {
	color: #28B665;
}

.fold-text {
	-webkit-transform: rotate(-40.61deg);
    -moz-transform: rotate(-40.61deg);
    -ms-transform: rotate(-40.61deg);
    -o-transform: rotate(-40.61deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	font-family: Helvetica;
	line-height: normal;
	font-size: 1.125em;
	font-weight: bolder;
	text-transform: uppercase;
	color: #FFFFFF;
	position: relative;
	top: -150px;
    left: 2px;
	margin: 0 0 0 0;
	max-width: 5.000em;
}

.daily-deals-image {
	position: relative;
	background: #FFFFFF;
	border: 3px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.deals-text {
	font-family: Helvetica;
	line-height: normal;
	font-size: 1.125em;
	color: #575757;
	font-weight: bolder;
}

.deals-location {
	padding-left: 1em;
	font-family: Helvetica;
	line-height: normal;
	font-size: 0.938em;
	color: #575757;
	alignment-baseline: baseline;
}

.old-price {
	font-family: Helvetica;
	line-height: normal;
	font-size: 1.125em;
	font-weight: bolder;
	text-decoration: line-through;
	color: #575757;
}

.new-price {
	font-family: Helvetica;
	line-height: normal;
	font-size: 1.125em;
	font-weight: bolder;
	color: #FF0A0A;
}

.footer {
	background: #F0F0F0;
}

ul {
	list-style-type: none;
	display: inline-block;
	zoom: 1;
	font-family: Helvetica;
	line-height: normal;
	font-size: 1.125em;
	color: #575757;
}

li > a, li > a:hover {
	color: #575757;
}

li {
	margin-top: 1.875em;
}

.copyright {
	font-family: Helvetica;
	line-height: normal;
	font-size: 1.125em;
	color: #C4C4C4;

}

.side-panel {
	background: #F0F0F0;
	border: 0.5px solid #C4C4C4;
	box-sizing: border-box;
}

.link-side {
	font-family: Helvetica;
	line-height: normal;
	font-size: 1em;
	color: #7B7B7B;
	font-weight: bold;
	text-decoration: none;
}

.link-side:hover {
	text-decoration: none;
	color: #7B7B7B;
}

.link-item {
	font-family: Helvetica;
	line-height: normal;
	font-size: 1.125em;
	color: #7B7B7B;
	text-transform: capitalize;
}

.link-item:hover {
	text-decoration: none;
	color: #7B7B7B;
}

.side-term {
	font-family: Helvetica;
	line-height: normal;
	font-size: 0.875em;
	color: #7B7B7B;
	margin: 15px;
	padding-left: 40px;
	padding-right: 15px;
}

.side-term-link {
	font-family: Helvetica;
	line-height: normal;
	font-size: 1em;
	color: #06C43B;
	font-weight: bold;
}

.side-term-link:hover {
	text-decoration: none;
	color: #06C43B;
}

[aria-expanded="false"] > .expanded, [aria-expanded="true"] > .collapsed {display: none;}

.payment {
	font-family: Helvetica;
	line-height: normal;
	font-size: 0.813em;
	color: #7B7B7B;
	margin-top: 15px;
	margin-left: 15px;
	padding-left: 40px;
}

ul.mbreadcrumb {
  padding: 10px 0px;
  list-style: none;
  margin: 0px;
}

ul.mbreadcrumb li {
  display: inline;
  font-size: 15px;
}

ul.mbreadcrumb li+li:before {
  padding: 18px;
  color: #C4C4C4;
  content: "/\00a0";
}

ul.mbreadcrumb li a {
  color: #C4C4C4;
  text-decoration: none;
}

ul.mbreadcrumb li a:hover {
  color: #C4C4C4;
  text-decoration: underline;
}

.btn-most-popular {
	color: #7B7B7B;
	background-color: #E5E5E5;
	border-color: #E5E5E5;
}

.btn:focus {
	outline: none;
	box-shadow: none;
}

.filter-label {
	font-family: Futura Bk BT;
	line-height: normal;
	font-size: 1em;
	text-align: right;
	color: #7B7B7B;
	padding-right: 10px;
}